<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicovidp">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppliCovidP">
        <activity android:name="controleur.BdActivity"></activity>
        <activity android:name="controleur.ReshebdoActivity" />
        <activity android:name="controleur.ChoixActivity" />
        <activity android:name="controleur.FairetestActivity" />
        <activity android:name="controleur.QcmActivity" />
        <activity android:name="controleur.ResultatActivity" />
        <activity android:name="controleur.ContactActivity" />
        <activity android:name="controleur.AproposActivity" />
        <activity android:name="controleur.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>